ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

li a {
    display: block;
    width: 60px;
    background-color: #dddddd;
  }

  li a:hover {
    background-color: #555;
    color: white;
  }

  .active{
    background-color:purple;
  }
